.new,.hot,.best,.cart_goods{
    width:85%;
    width:100%;
    .bar{
        line-height:45px;
        font-size:18px;
        a{
            float:right;
            font-size:12px;
            color:#DF4E4F;
        }
    }
    
    .clo_4,.clo_12{
        font-size:16px;
        margin:0 auto;
        margin-left:-2%;
        .text{
            line-height:18px;
            font-weight: bold;
            color:#333;
            margin-bottom: 10px;
        }
        .price{
            color:#DF4E4F;
            font-weight: bold;
            font-size: 18px;
        }
        .orginPrice{
            font-size:12px;
            color:#999;
            text-decoration: line-through;
        }
        .o{
            font-size:12px;
        }
        li{
            width:23%;
            height:293px;
            float:left;
            margin-bottom:20px;
            margin-left: 2%;
            position:relative;
            padding-bottom:80px;
            border-bottom: 1px solid #ddd;
            background:#fff;
            list-style: none;
            img{
                margin-left:0;
                width:100%;
                margin-bottom: 10px;
            }
            p{
                margin:0 10px;
            }
            .action{
                position: absolute;
                right:0;
                padding:0 10px;
                bottom:20px;
                box-sizing: border-box;
                width:100%;
                em{
                    float: left;
                    font-style:normal;
                    color:#666;
                    font-size:12px;
                }
                a{
                    color:#fff;
                    float:right;
                    background:#DF4E4F;
                    height:24px;
                    line-height:24px;
                    padding:0 2px;
                    display: inline-block;
                }
            }
            .b{
                color:#DF4E4F;
                font-weight: bold;
            }
            span{
                color:#999;
            }
        }
        
    }
}    