@import "style";
@import "module/header";
@import "module/footer";
@import "module/shopItem";
body{
    width:100%;
    background:#f4f4f4;
}
.menu{
    display: none;
}

#cat:hover{
   
    .menu{
        height:auto !important;
        display: block;
    }
}
.midd{
    overflow: hidden;
    margin: 0 auto;
    width: 85%;
    min-width: 1024px;
    max-width: 1440px;
    a{
        color:#333;
    }
    #here{
        margin:15px 0;
       
    }
    #filter{
        background:#fff;
        margin:15px;
        a{
            padding:3px 10px;
        }
        .all{
            background:#ddd;
        }
    }
    #sort{
        border:1px solid #ddd;
        background:#e4e4e4;
        padding:10px;
        margin:15px 0;
        a{
            background:#fff;
            padding:0 10px;
            line-height:24px;
            display: inline-block;
            border:1px solid #ccc;
        }
        .fr{
            float:right;
            .page{
                display: block;
                color:#ddd;
                line-height:24px;
            }
            a{
                background:#fff;
                color:#333;
                padding:0 10px;
                font-size:18px;
                line-height:24px;
                border:1px solid #ccc;
                span{
                    color:#DF4E4F;
                }
            }
        }

    }
    .page_nav{
        float:right;
        a{
            background:#fff;
            color:#333;
            padding:0 10px;
            font-size:14px;
            line-height:24px;
            border:1px solid #ccc;
            span{
                color:#DF4E4F;
            }
        }
    }
}