@import "style";
@import "module/footer";
@import "module/header";
.mid{
    font-size:14px;
    margin:0 auto;
    width:85%;
    min-width: 1024px;
    max-width: 1440px;
    overflow: hidden;
    #here{
        margin:15px 0;
        a{
            color:#333;
        }
        code{
            margin:0 10px;
        }
    }
    .login{
        width:400px;
        margin:0 0 50px 0;
        min-height: 250px;
        float:right;
        background:#fff;
        padding:20px 40px;
        border:1px solid #ddd;
        a{
            font-weight: normal;
            color: #DF4E4F;
        }
        h3{
            margin:0 0 20px 0;
            
            .fr{
                float:right;
            }
        }
        input[type="text"]{
            width:200px;

        }
        input[type="password"]{
            width:200px;

        }
        input{
            margin:10px 0;
        }
        .text_input{
            line-height:22px;
            height:22px;
            border:1px solid #ddd;
            padding:0 3px;
        }
        .red_btn{
            color:#fff;
            background:#DF4E4F;
            line-height: 24px;
            height:24px;
            padding:0 10px;
            cursor: pointer;
            text-align: center;
            border:none;
        }
        p{
            margin:15px 0;
        }
    }
    .login_ad{
        margin:0 550px 0 0;
        img{          
            max-width: 100%;
            margin: 0 auto;
            display: block;
        }
    }
}
.menu{
    display: none;
}